<div class="container" ng-controller="CharacterListCtrl">
	<cs-topnav></cs-topnav>
	<div class="sixteen columns remove-bottom">
		<h1 style="margin-top: 40px; text-align: right">Charaktere</h1>
	</div>
	<div class="sixteen columns">
		<h2 style="margin-top: 0px;">Charaktere</h2>
		<div class="padded-content">
			<table class="striped" id="characters">
				<thead>
					<tr>
						<th>Name</th>
						<th>System</th>
						<th ng-if="!isPublic">öffentlich</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="character in characters">
						<td><a href="#/character/{{status}}/{{character.id}}">{{character.name}}</a></td>
						<td>{{character.rule_system}}</td>
						<td ng-if="!isPublic" class="value"><input type="checkbox" ng-model="character.is_public" ng-change="onIsPublicChange(character)"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
