<div class="container" ng-controller="Sr4CharacterSheetCtrl">
	<div class="sixteen columns remove-bottom">
		<h1 style="margin-top: 40px; text-align: right">Shadowrun</h1>
	</div>
	<div class="sixteen columns">
		<h2 style="margin-top: 0px;">Charakterdaten</h2>
		<div class="left-column-content right-column-content">
			<strong>Name / Alias: </strong><span id="name">{{character.data.name}}</span>
		</div>
	</div>
	<div class="three columns">
		<div class="left-column-content">
			<strong>Metatyp: </strong><span id="metatype">{{character.data.metatype}}</span>
		</div>
	</div>
	<div class="three columns">
		<div class="inner-column-content">
			<strong>Alter: </strong><span id="age">{{character.data.age}}</span>
		</div>
	</div>
	<div class="three columns">
		<div class="inner-column-content">
			<strong>Geschlecht: </strong><span id="gender">{{character.data.gender}}</span>
		</div>
	</div>
	<div class="three columns">
		<div class="inner-column-content">
			<strong>Nuyen: </strong><span id="money">{{character.data.money}}</span>
		</div>
	</div>
	<div class="four columns">
		<div class="right-column-content">
			<strong>Lebensstil: </strong><span id="lifestyle">{{character.data.lifestyle}}</span>
		</div>
	</div>
	<div class="three columns">
		<div class="left-column-content">
			<strong>Karma ges.: </strong><span id="totalKarma">{{character.data.totalKarma}}</span>
		</div>
	</div>
	<div class="three columns">
		<div class="inner-column-content">
			<strong>Karma Aktuell: </strong><span id="remainingKarma">{{character.data.remainingKarma}}</span>
		</div>
	</div>
	<div class="three columns">
		<div class="inner-column-content">
			<strong>Strassenruf: </strong><span id="reputation">{{character.data.reputation}}</span>
		</div>
	</div>
	<div class="three columns">
		<div class="inner-column-content">
			<strong>Schlechter Ruf: </strong><span id="notoriety">{{character.data.notoriety}}</span>
		</div>
	</div>
	<div class="four columns">
		<div class="right-column-content">
			<strong>Prominenz: </strong><span id="publicity">{{character.data.publicity}}</span>
		</div>
	</div>
	<cs-sr4-attributes attributes="character.data.attributes"></cs-sr4-attributes>
	<div class="sixteen columns"><h2>Fertigkeiten</h2></div>
	<cs-sr4-skill-table class="one-third column" content="leftSkillColumn"></cs-sr4-skill-table>
	<cs-sr4-skill-table class="one-third column" content="middleSkillColumn"></cs-sr4-skill-table>
	<cs-sr4-skill-table class="one-third column" content="rightSkillColumn"></cs-sr4-skill-table>
	<div class="sixteen columns"></div>
	<div class="five columns">
		<h2>Gaben und Handicaps</h2>
		<ul class="padded-content unstyled-list" id="advantages">
			<li ng-repeat="advantage in character.data.advantages">{{advantage}}</li>
		</ul>
	</div>
	<div class="five columns">
		<h2>Aussehen</h2>
		<div class="padded-content">
			<div class="appearance-field"><strong>Größe: </strong><span id="height">{{character.data.height}}</span></div>
			<div class="appearance-field"><strong>Gewicht: </strong><span id="weight">{{character.data.weight}}</span></div>
		</div>
		<div class="padded-content">
			<div class="appearance-field"><strong>Haarfarbe: </strong><span id="hairColor">{{character.data.hairColor}}</span></div>
			<div class="appearance-field"><strong>Augenfarbe: </strong><span id="eyeColor">{{character.data.eyeColor}}</span></div>
		</div>
		<div class="padded-content">
			<strong>Besondere Merkmale: </strong><span id="specialFeatures">{{character.data.specialFeatures}}</span>
		</div>
	</div>
	<div class="six columns">
		<h2>Zustandsmonitor</h2>
		<div class="padded-content">
			<cs-sr4-condition-monitor attributes="character.data.attributes" type="'physical'"></cs-sr4-condition-monitor>
			<cs-sr4-condition-monitor attributes="character.data.attributes" type="'stun'"></cs-sr4-condition-monitor>
		</div>
	</div>

	<div class="eight columns">
		<cs-sr4-ranged-weapons ng-if="rangedWeaponCount" weapons="character.data.rangedWeapons"></cs-sr4-ranged-weapons>
		<cs-sr4-melee-weapons ng-if="meleeWeaponDisplay === 'left'" weapons="character.data.meleeWeapons"></cs-sr4-melee-weapons>		
	</div>
	<div class="eight columns">
		<cs-sr4-melee-weapons ng-if="meleeWeaponDisplay === 'right'" weapons="character.data.meleeWeapons"></cs-sr4-melee-weapons>		
		<cs-sr4-armor ng-if="armorCount" armor="character.data.armor"></cs-sr4-armor>		
	</div>
	<div class="sixteen columns"></div>
	<div class="one-third column">
		<cs-sr4-comlink ng-if="character.data.comlink" comlink="character.data.comlink"></cs-sr4-comlink>
	</div>
	<div class="two-thirds column">
		<cs-sr4-cyberware ng-if="character.data.cyberware.length" cyberware="character.data.cyberware"></cs-sr4-cyberware>
	</div>
	<div class="sixteen columns" ></div>
	<div class="eight columns">
		<cs-sr4-connections ng-if="character.data.connections.length" connections="character.data.connections"></cs-sr4-connections>
	</div>
	<div class="eight columns">
		<cs-sr4-sins ng-if="character.data.sins.length" sins="character.data.sins"></cs-sr4-sins>
		<cs-sr4-licenses ng-if="character.data.licenses.length" sins="character.data.licenses"></cs-sr4-licenses>
	</div>
	<div class="sixteen columns">
		<cs-sr4-vehicles ng-if="character.data.vehicles.length" vehicles="character.data.vehicles"></cs-sr4-vehicles>
	</div>
	<div class="sixteen columns">
		<cs-sr4-lifestyles ng-if="character.data.lifestyles.length" lifestyles="character.data.lifestyles"></cs-sr4-lifestyles>
	</div>
	<div class="two-thirds column">
		<cs-sr4-equipment equipment="character.data.equipment" magic="false"></cs-sr4-equipment>
	</div>
	<div class="one-third column">
		<h2>Notizen</h2>
		<ul class="padded-content unstyled-list">
			<li ng-repeat="note in character.data.notes">{{note}}</li>
		</ul>
	</div>
	<cs-sr4-magic ng-if="character.data.magic" magic="character.data.magic"></cs-sr4-magic>
	<cs-sr4-technomancy ng-if="character.data.technomancy" technomancy="character.data.technomancy"></cs-sr4-technomancy>
	<div class="sixteen columns add-bottom">
	</div>
</div><!-- container -->
