<h2>Kommlink</h2>
<div class="padded-content">
	<strong>Kommlink: </strong>
	<span id="comlink">{{comlink.name}}</span>
</div>
<div class="padded-content">
	<strong>Betriebssystem: </strong>
	<span id="operatingSystem">{{comlink.operatingSystem}}</span>
</div>
<div class="padded-content">
	<div class="comlink-field">
		<strong>Prozessor: </strong>
		<span id="processor">{{comlink.processor}}</span>
	</div>
	<div class="comlink-field">
		<strong>System: </strong>
		<span id="system">{{comlink.system}}</span>
	</div>
</div>
<div class="padded-content">
	<div class="comlink-field">
		<strong>Firewall: </strong>
		<span id="firewall">{{comlink.firewall}}</span>
	</div>
	<div class="comlink-field">
		<strong>Signal: </strong>
		<span id="signal">{{comlink.signal}}</span>
	</div>
</div>
<div class="padded-content">
	<strong>Programme: </strong>
	<span id="programs">{{comlink.programs}}</span>
</div>
