<div class="sixteen columns">
	<h2>Tradition</h2>
</div>
<div class="one-third column">
	<div class="left-column-content">
		<strong>Tradition: </strong><span id="tradition">{{tradition.name}}</span>
	</div>
</div>
<div class="two-thirds column">
	<div class="right-column-content">
		<strong>Konzept: </strong><span id="concept">{{tradition.concept}}</span>
	</div>
</div>
<div class="four columns">
	<div class="left-column-content">
		<strong>Heilung: </strong><span id="healing">{{tradition.healingBonus}}</span>
	</div>
</div>
<div class="four columns">
	<div class="inner-column-content">
		<strong>Illusion: </strong><span id="illusion">{{tradition.illusionBonus}}</span>
	</div>
</div>
<div class="four columns">
	<div class="inner-column-content">
		<strong>Kampf: </strong><span id="combat">{{tradition.combatBonus}}</span>
	</div>
</div>
<div class="four columns">
	<div class="right-column-content">
		<strong>Manipulation: </strong><span id="manipulation">{{tradition.manipulationBonus}}</span>
	</div>
</div>
<div class="four columns">
	<div class="left-column-content">
		<strong>Wahrnehmung: </strong><span id="perception">{{tradition.perceptionBonus}}</span>
	</div>
</div>
<div class="eight columns offset-by-four">
	<div class="right-column-content">
		<strong>Entzugsattribute: </strong><span id="drainAttributes">{{tradition.drainAttributes}}</span>
	</div>
</div>
