<div class="sixteen columns">
	<h2>Tradition</h2>
</div>
<div class="one-third column">
	<div class="left-column-content">
		<strong>Tradition: </strong><span id="tradition"></span>
	</div>
</div>
<div class="two-thirds column">
	<div class="right-column-content">
		<strong>Konzept: </strong><span id="concept"></span>
	</div>
</div>
<div class="four columns">
	<div class="left-column-content">
		<strong>Heilung: </strong><span id="healing"></span>
	</div>
</div>
<div class="four columns">
	<div class="inner-column-content">
		<strong>Illusion: </strong><span id="illusion"></span>
	</div>
</div>
<div class="four columns">
	<div class="inner-column-content">
		<strong>Kampf: </strong><span id="combat"></span>
	</div>
</div>
<div class="four columns">
	<div class="right-column-content">
		<strong>Manipulation: </strong><span id="manipulation"></span>
	</div>
</div>
<div class="four columns">
	<div class="left-column-content">
		<strong>Wahrnehmung: </strong><span id="perception"></span>
	</div>
</div>
<div class="eight columns offset-by-four">
	<div class="right-column-content">
		<strong>Entzugsattribute: </strong><span id="drainAttributes"></span>
	</div>
</div>
<div class="eight columns">
	<h2>Foki</h2>
	<table class="striped" id="foci">
		<thead>
			<tr>
				<th>Name</th>
				<th>Stufe</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
<div class="eight columns">
	<h2>Magische Ausrüstung</h2>
	<ul class="padded-content unstyled-list">
	</ul>
</div>
<div class="two-thirds column">
	<h2>Zaubersprüche</h2>
	<div class="padded-content">
		<table class="striped" id="spells">
			<thead>
				<tr>
					<th>Zauberspruch</th>
					<th>Art</th>
					<th>Reichweite</th>
					<th>Dauer</th>
					<th>Entzug</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
<div class="one-third column">
	<h2>Initiation</h2>
	<div class="padded-content">
		<strong>Grad: </strong>
		<span id="initiation"></span>
	</div>
	<div class="padded-content">
		<strong>Metamagie: </strong>
		<span id="metamagic"></span>
	</div>
	<h2>Schutzpatron</h2>
	<div class="padded-content">
		<strong>Schutzpatron: </strong>
		<span id="patron"></span>
	</div>
	<div class="padded-content">
		<strong>Vorteile: </strong>
		<span id="patron-advantages"></span>
	</div>
	<div class="padded-content">
		<strong>Nachteile: </strong>
		<span id="patron-disadvantages"></span>
	</div>
</div>
<div class="two-thirds column">
	<h2>Geister</h2>
	<div class="padded-content">
		<table class="striped" id="spirits">
			<thead>
				<tr>
					<th>Geist</th>
					<th>Kräfte</th>
					<th>Dienste</th>
					<th>gebunden</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
<div class="one-third column">
	<h2>Adeptenkräfte</h2>
	<div class="padded-content">
		<table class="striped" id="adeptPowers">
			<thead>
				<tr>
					<th>Name</th>
					<th>Stufe</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Gesteigerte Reflexe</td>
					<td class="value">2</td>
				</tr>
				<tr>
					<td>Verbesserte Fertigkeit (Pistolen)</td>
					<td class="value">2</td>
				</tr>
				<tr>
					<td>Verbesserte Fertigkeit (Bodenfahrzeuge)</td>
					<td class="value">2</td>
				</tr>
				<tr>
					<td>Mystischer Panzer</td>
					<td class="value">1</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
