<div class="two-thirds column">
	<h2>Sprites</h2>
	<div class="padded-content">
		<table class="striped" id="sprites">
			<thead>
				<tr>
					<th>Sprite</th>
					<th>Kräfte</th>
					<th>Dienste</th>
					<th>registriert</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
<div class="one-third column">
	<h2>Wandlung</h2>
	<div class="padded-content">
		<strong>Grad: </strong>
		<span id="submersion"></span>
	</div>
	<div class="padded-content">
		<strong>Echos: </strong>
		<span id="echos"></span>
	</div>
</div>
