<div class="sixteen columns"><h2>Attribute</h2></div>
<div class="four columns">
	<div class="left-column-content"><h3>Körperliche Attribute</h3></div>
	<div class="attribute-box left-column-content"><strong>Konstitution:</strong><span class="attribute-value" id="constitution">{{attributes.constitution}}</span></div>
	<div class="attribute-box left-column-content"><strong>Geschicklichkeit:</strong><span class="attribute-value" id="dexterity">{{attributes.dexterity}}</span></div>
	<div class="attribute-box left-column-content"><strong>Reaktion:</strong><span class="attribute-value" id="reaction">{{attributes.reaction}}</span></div>
	<div class="attribute-box left-column-content"><strong>Stärke:</strong><span class="attribute-value" id="strength">{{attributes.strength}}</span></div>
</div>
<div class="four columns">
	<div class="inner-column-content"><h3>Geistige Attribute</h3></div>
	<div class="attribute-box inner-column-content"><strong>Charisma:</strong><span class="attribute-value" id="charisma">{{attributes.charisma}}</span></div>
	<div class="attribute-box inner-column-content"><strong>Intuition:</strong><span class="attribute-value" id="intuition">{{attributes.intuition}}</span></div>
	<div class="attribute-box inner-column-content"><strong>Logik:</strong><span class="attribute-value" id="logic">{{attributes.logic}}</span></div>
	<div class="attribute-box inner-column-content"><strong>Willenskraft:</strong><span class="attribute-value" id="willpower">{{attributes.willpower}}</span></div>
</div>
<div class="four columns">
	<div class="inner-column-content"><h3>Besondere Attribute</h3></div>
	<div class="attribute-box inner-column-content"><strong>Edge:</strong><span class="attribute-value" id="edge">{{attributes.edge}}</span></div>
	<div class="attribute-box inner-column-content"><strong>Essenz:</strong><span class="attribute-value" id="essence">{{attributes.essence}}</span></div>
	<div class="attribute-box inner-column-content"><strong>Initiative:</strong><span class="attribute-value" id="initiative">{{attributes.initiative}}</span></div>
	<div class="attribute-box inner-column-content"><strong>Magie/Resonanz:</strong><span class="attribute-value" id="magic">{{attributes.magic}}</span></div>
</div>
<div class="four columns">
	<div class="hide-vertical right-column-content"><h3>Besondere Attribute</h3></div>
	<div class="attribute-box right-column-content"><strong>Aktuelles Edge:</strong><span class="attribute-value" id="currentEdge">{{attributes.currentEdge}}</span></div>
	<div class="attribute-box right-column-content"><strong>Astrale INI:</strong><span class="attribute-value" id="astralInitiative"></span>{{attributes.astralInitiative}}</div>
	<div class="attribute-box right-column-content"><strong>Matrix INI:</strong><span class="attribute-value" id="matrixInitiative"></span>{{attributes.matrixInitiative}}</div>
	<div class="attribute-box right-column-content"><strong>INI-Durchgänge:</strong><span class="attribute-value" id="initiativeTurns">{{attributes.initiativeTurns}}</span></div>
</div>
