<cs-sr4-magic-tradition ng-if="magic.tradition" tradition="magic.tradition"></cs-sr4-magic-tradition>
<div class="eight columns">
	<cs-sr4-magic-foci ng-if="magic.foci.length" foci="magic.foci">
</div>
<div class="eight columns">
	<cs-sr4-equipment ng-if="magic.equipment.length" equipment="magic.equipment" magic="true"></cs-sr4-equipment>
</div>
<div class="two-thirds column">
	<cs-sr4-magic-spells ng-if="magic.spells.length" spells="magic.spells"></cs-sr4-magic-spells>
</div>
<div class="one-third column">
	<cs-sr4-initiation ng-if="magic.initiation" initiation="magic.initiation" magic="true"></cs-sr4-initiation>
	<cs-sr4-magic-patron ng-if="magic.patron" patron="magic.patron"></cs-sr4-magic-patron>
</div>
<div class="two-thirds column">
	<cs-sr4-spirits ng-if="magic.spirits.length" spirits="magic.spirits" magic="true"></cs-sr4-spirits>
</div>
<div class="one-third column">
	<cs-sr4-adept-powers ng-if="magic.adeptPowers.length" adept-powers="magic.adeptPowers"></cs-sr4-adept-powers>
</div>
