<h2>Fahrzeuge</h2>
<div class="padded-content">
	<table class="striped responsive desktop" id="vehicles">
		<thead>
			<tr>
				<th>Fahrzeug</th>
				<th>Handling</th>
				<th>Beschleunigung</th>
				<th>Geschwindigkeit</th>
				<th>Pilot</th>
				<th>Rumpf</th>
				<th>Panzerung</th>
				<th>Sensor</th>
				<th>Anmerkungen</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="vehicle in vehicles">
				<td>{{vehicle.name}}</td>
				<td class="value">{{vehicle.handling}}</td>
				<td class="value">{{vehicle.acceleration}}</td>
				<td class="value">{{vehicle.speed}}</td>
				<td class="value">{{vehicle.pilot}}</td>
				<td class="value">{{vehicle.body}}</td>
				<td class="value">{{vehicle.armor}}</td>
				<td class="value">{{vehicle.sensor}}</td>
				<td>{{vehicle.notes}}</td>
			</tr>
		</tbody>
	</table>
	<div class="responsive mobile">
		<div ng-repeat="vehicle in vehicles" class="key-value-record">
			<cs-key-value-row key="'Fahrzeug'" value="vehicle.name"></cs-key-value-row>
			<cs-key-value-row key="'Handling'" value="vehicle.handling"></cs-key-value-row>
			<cs-key-value-row key="'Beschleunigung'" value="vehicle.acceleration"></cs-key-value-row>
			<cs-key-value-row key="'Geschwindigkeit'" value="vehicle.speed"></cs-key-value-row>
			<cs-key-value-row key="'Pilot'" value="vehicle.pilot"></cs-key-value-row>
			<cs-key-value-row key="'Rumpf'" value="vehicle.body"></cs-key-value-row>
			<cs-key-value-row key="'Panzerung'" value="vehicle.armor"></cs-key-value-row>
			<cs-key-value-row key="'Sensor'" value="vehicle.sensor"></cs-key-value-row>
			<cs-key-value-row key="'Anmerkungen'" value="vehicle.notes"></cs-key-value-row>
		</div>
	</div>
</div>
